/* CSS Document */

#top{height:180px !important;background:url(banner2.jpg)  no-repeat !important}

#navMenu{background:#ae0b2a !important;margin-top:2px; height:40px !important;}
#navMenu li a{line-height:40px !important;padding:0 20px !important}