@charset "gb2312";
/* CSS Document */
body{font:14px/1.5 "微软雅黑"; color:#333;}
body,h1,h2,h3,h4,h5,ul,li,ol,dl,dt,dd,p,input,textarea{margin:0; padding:0;}
ul,li,ol{list-style:none;}
/*top-wrap*/
.top-wrap{width:100%; height:40px; background:#eee; border-bottom:1px solid #d6d6d6;}
.top{width:908px; height:40px; margin:0 auto; line-height:40px; background:url(/statics/images/web/attention.png) no-repeat left center;}
.top p{padding-left:30px;}
.top p span{color:#9f1e31;}
/*head-wrap*/
.head-wrap{width:100%; height:120px;}
.header{width:1200px; height:120px; margin:0 auto; position:relative;}
.header .logo img{padding:10px 20px 10px 10px;}
.header .search{position:absolute; left:380px; top:42px; width:440px; height:36px; background:url(/statics/images/web/search.png) no-repeat left center; padding-left:40px;}
.header .search input{width:312px; height:24px; padding:5px 5px 5px 5px; border-top:1px solid #9f1e31; border-bottom:1px solid #9f1e31; border-left:0; border-right:0; float:left;}
.header .search .find{float:left;}
.header .attention{position:absolute; right:30px; top:45px;}
.header .attention a{padding-left:40px; height:30px; line-height:30px; display:inline-block; text-decoration:none; color:#666;}

/*nav-wrap*/
.nav-wrap{width:100%; height:68px; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6;}
.nav{width:1200px; height:68px; margin:0 auto; line-height:68px;}
.nav ul{width:1196px; float:left; padding-left:4px;}
.nav ul li{float:left; width:125px;font-size: 20px;}
.lix{
	margin-left: 130px;
}
.nav ul .enrol{padding-right:4px;}
.nav ul li a{text-decoration:none; color:#333; padding:14px 21px; }
.nav ul li a:hover{color:#fff; background:url(/statics/images/web/nav-hover.png) no-repeat center center;}
.nav ul li .hp{background:url(/statics/images/web/nav-hover.png) no-repeat center center; color:#fff;}
/*banner*/
.banner{width:100%; height:400px; position:relative; overflow:hidden; z-index:1;}
.banner .pointer{ width:100%; position:absolute; bottom:10px; left:0; text-align:center;}
.banner .pointer span{ width:9px; height:9px; border-radius:50%; background:#d6d6d6; margin:0 3px; opacity: 0.5; cursor:pointer; display:inline-block;}
.banner .pointer span:hover{ background:#000;}

/*pm-wrap*/
.pm-wrap{width:100%; height:49px; border-bottom:1px solid #d6d6d6;}
.pm{width:1200px; height:50px; line-height:50px; margin:0 auto;}
.pm h2{text-decoration:none; font-size:18px; font-weight:normal; color:#9f1e31; float:left;}
.pm ul{float:left;}
.pm ul li{float:left; padding-right:6px;}
.pm ul li a{text-decoration:none; color:#333;}
.pm ul li a:hover{color:#9f1e31; text-decoration:underline;}
.pm .more{padding-left:18px; text-decoration:none; color:#9f1e31;} 


.lanrenzhijia{ width:400px; height:460px; margin:0 auto;  font-family:'微软雅黑';}
.lanrenzhijia .tab{ overflow:hidden; background:#f1f1f1;}
.lanrenzhijia .tab a{ display:block; padding:10px 20px; float:left; text-decoration:none; color:#333; width:159px; font-size:16px; font-weight:600; text-align:center;}
.lanrenzhijia .tab a:hover{ background:#E64E3F; color:#fff; text-decoration:none; text-align:center;}
.lanrenzhijia .tab a.on{ background:#9f1e31; color:#fff; text-decoration:none; text-align:center;}
.lanrenzhijia .content{ overflow:hidden; padding:10px;}
.lanrenzhijia .content li{ display:none;}
.lanrenzhijia .content .li-1{ position:relative; height:408px;}
.lanrenzhijia .content .li-1 .tp{ height:90px; background:url(/statics/images/web/information-banner.png) no-repeat center center; margin-bottom:20px;}
.lanrenzhijia .content .li-1 p{ height:44px; line-height:44px; border-bottom:1px dashed #d6d6d6; padding:0 10px;}
.lanrenzhijia .content .li-1 p a{ text-decoration:none; color:#333; float:left;}
.lanrenzhijia .content .li-1 p span{ color:#666; float:right;}
.lanrenzhijia .content .li-1 .more{ position:absolute; left:20px; bottom:16px; width:340px; height:40px; background:url(/statics/images/web/jd-tjwt-bg.png) no-repeat center center; text-align:center; line-height:40px;}
.lanrenzhijia .content .li-1 .more a{text-decoration:none; font-size:16px; color:#fff;}
.lanrenzhijia .content .li-2{ position:relative; height:408px;}
/* .lanrenzhijia .content .li-2 .tp-1{ height:90px; background:url(../images/jwxi.png) no-repeat center center; margin-bottom:20px;} */
.lanrenzhijia .content .li-2 p{ height:44px; line-height:44px; border-bottom:1px dashed #d6d6d6; padding:0 10px;}
.lanrenzhijia .content .li-2 p a{ text-decoration:none; color:#333; float:left;}
.lanrenzhijia .content .li-2 p span{ color:#666; float:right;}
.lanrenzhijia .content .li-2 .more{ position:absolute; left:20px; bottom:16px; width:340px; height:40px; background:url(/statics/images/web/jd-tjwt-bg.png) no-repeat center center; text-align:center; line-height:40px;}
.lanrenzhijia .content .li-2 .more a{text-decoration:none; font-size:16px; color:#fff;}



/*information-wrap*/
.information-wrap{width:100%; height:500px;}
.information{width:1200px; height:500px; margin:0 auto;}
.information .l{width:396px; height:459px; float:left; border-left:1px solid #d6d6d6; border-right:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6; overflow:hidden;}
.information .l .title li:hover{background:#eee;}
.information .l .hot-headline left li{height:44px; border-bottom:1px solid #d6d6d6;}
.information .l .hot-headline left .hot-headline-box .headline a:hover{color:#9f1e2b;}
.information .l .tj input{width:340px; height:40px; margin:0 30px 14px 30px; border:0; background:url(/statics/images/web/jd-tjwt-bg.pn